<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lateinapp.noraalex.lopade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name="com.lateinapp.noraalex.lopade.Activities.EinheitenUebersicht"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lateinapp.noraalex.lopade.Activities.Einheiten.UserInputVokabeltrainer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lateinapp.noraalex.lopade.Activities.Woerterbuch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Einheiten.ClickDeklinationsendung"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.lateinapp.noraalex.lopade.Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Einheiten.ClickPersonalendung"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Einheiten.UserInputDeklinationsendung"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Einheiten.UserInputPersonalendung"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.Einheiten.Satzglieder"
            android:screenOrientation="portrait" />

        <activity android:name=".Activities.Einheiten.ClickKasusFragen"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".Activities.Einheiten.UserInputAdjektive"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.AndroidDatabaseManager"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>